{% extends "base_generic.html" %}

{% block content %}
<h1>News Board API Index page</h1>

  <p>Welcome to  <em>News Board</em> API test page. A  Django website developed to show possibilites of Django REST Framework</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>1:</strong> <a href="{% url 'articles' %}">List of articles</a></li>
    <li><strong>2:</strong> {<a href="{% url 'comments' %}">List of comments</a></li>
    <li><strong>3:</strong> <a href="{% url 'index' %}">Admin page</a></li>

  </ul>
made by Nick Yefremov. May 2021
{% endblock %}